.forgotPasswordPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.emailInput {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}

.submitButton {
    padding: 12px 20px;
    background-color: #0170B9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #014a75;
}

.submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.message {
    margin-bottom: 10px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
